.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post_header {
  display: flex;
  margin-bottom: 5px;
}

.post_info {
  margin-left: 10px;
}

.post_info > h2 {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.post_info > h2:hover {
  color: #0a66c2;
  text-decoration: underline;
}

.post_info > p {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

p:nth-child(2) {
  margin-top: -8px;
}
p:nth-child(3) {
  font-size: 9px;
  margin-top: -15px;
}
.post_body {
  /* handle edge case, text over flow to the x axis   */
  overflow-wrap: anywhere;
  border-bottom: 0.1px solid lightgray;
}

.post_body > p {
  font-size: 14px;
  color: rgba(3, 2, 2, 0.9);
  margin-left: 10px;
}

.post_footer {
  display: flex;
  justify-content: flex-start;
}
.post_footer > span {
  padding-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  color: #1c72c7;
}

.post_footer > span:hover {
  color: #004182;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.inputOptions {
  margin-right: 20px;
}
.MuiAvatar-img:hover {
  cursor: pointer;
}
.post_info > h2,
.post_info > p:hover {
  cursor: pointer;
}
.post__threeDot {
  margin-left: 250px;
  color: gray;
  width: 20px !important;
}

.post__threeDot:hover {
  cursor: pointer;
  color: rgb(46, 45, 45);
}

/* 
span {
} */
